/*Menu*/
@media only screen and (min-width: 980px) and (max-width: 1900px){
  #header-phone {
    display: none;
  }

  #menu-phone {
    display: none;
  }

  .menu-left {
    display:  none;
  }

  .menu-right {
    display: none;
  }
}
@media only screen and (min-width: 750px) and (max-width: 1900px){
  #phone-details {
    display: none;
  }
  #phone-search {
    display: none;
  }
  .cmt-phone {
    display: none;
  }
  .download-phone {
    display: none;
  }
}

@media all and (max-width: 980px){

  #noname input {
  width: 84.5%;
  height: 40px;
  margin-left: 2%;
  float: left;
  }
  .cmt-demo .ncmt-demo {
  float: left;
  width: 80%;
  border: 2px solid #e0e0d1;
  margin-left: 2%;
  margin-top: 20px;
  border-radius: 5px;
}

  .ncmt-demo a {
    text-decoration: none;
    font-size: 18px;
    color: black;
  }
  .ncmt-demo a:hover {
    color: blue;
  }
  .ncmt-demo span {
    font-size: 15px;
  }

  .ncmt-demo p {
    font-size: 12px;
  }

  #img-size {
    font-size: 15px;
  }

  .more-Dtui {
    width: 100%;
    height: 300px;
    background-color: white;
    margin-top: 30px;
  }
  .more-Dtui p {
    font-size: 15px;
  }
}

@media all and (max-width: 768px){
  .cmt-demo img {
    float: left;
    margin-top: 20px;
    padding-left: 10px;
  }
  .cmt-demo .ncmt-demo {
    float: left;
    width: 86%;
    border: 2px solid #e0e0d1;
    margin-left: 2%;
    margin-top: 13px;
    border-radius: 5px;
  }

  .ncmt-demo a {
    text-decoration: none;
    font-size: 20px;
    color: black;
  }
  .ncmt-demo a:hover {
    color: blue;
  }
  .ncmt-demo span {
    font-size: 12px;
  }

  .ncmt-demo p {
    font-size: 12px;
  }

  #n-information {
    font-size: 12px;
  }

}

@media all and (max-width: 750px) {
  #detail-right {
    display: none;
  }
  #n-search {
    display: none;
  }
  #img-size{
    display: none;
  }
  .more-Dtui {
    display: none;
  }

  #detail-left{
    /*padding-left: 8%;*/
    /*padding-right: 8%;*/
    width: 84%;
    float: left;
}
  #n-decription{
    float: left;
    font-size: 14px;
  }
  #n-image {
    position: relative;
  }
  #phone-details {
    float: right;
    font-size: 14px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 26px;
  }
  #phone-details a {
    padding: 5px;
    text-decoration: none;
    border: 1px solid #e0e0d1;
    text-align: center;
    background-color: #efefef;
    border-radius: 5px;
    color: black;
  }

  #phone-search {
    width:100%;
  }

  #phone-search input {
    margin-top: 30px;
    margin-left: 30%;
    margin-bottom: 30px;
    width: 29%;
    height: 20px;
    background-color: #efefef;
    border: 0;
    font-size: 14px;
  }
  #phone-search button {
    font-size: 14px;
  }
  #copyright {
    display: none;
  }
  .no-display {
    display: none;
  }
  .ncmt-demo a{
    font-size: 18px;
  }
  .cmt-phone a{
    font-size: 10px;
  }
 /*  #template-img {
    width: 90%;
  } */

}

@media all and (max-width: 500px) {
  #information-top p {
    display: none;
  }
  #information-bottom {
    display: none;
  }

  #information-top img {
    display: none;
  }

  #noname img {
    width: 30px;
    height: auto;
  }


  #noname input {
    width: 80%;
    height: 44px;
    margin-left: 2%;
    float: left;
  }


  .cmt-demo img {
    width: 30px;
    height: auto;
  }
  .cmt-demo .ncmt-demo {
    float: left;
    width: 79%;
    border: 2px solid #e0e0d1;
    margin-left: 2%;
    margin-top: 20px;
    border-radius: 5px;
  }
  .ncmt-demo span {
    font-size: 10px;
  }

  .ncmt-demo p {
    font-size: 10px;
  }
  .ncmt-demo a {
    font-size: 14px;
  }
}

/*Menu*/
@media only screen and (min-width: 980px) and (max-width: 1900px) {
    #hearder-phone {
        display: none;
    }

    #menu-phone {
        display: none;
    }

    .menu-left {
        display: none;
    }

    .menu-right {
        display: none;
    }
}

@media all and (max-width: 1346px) {
    #menu li:hover #show_1 {
        display: block;
    }

    #respon-1 {
        display: none;
    }
}

@media all and (max-width: 1200px) {
    #text-intro {
        display: none;
    }
}

@media all and (max-width: 1170px) {
    #template {
        width: 922px;
        margin: 30px auto auto;
    }
}

@media all and (max-width: 1230px) {
    #menu li:hover #show_2 {
        display: block;
    }

    #respon-2 {
        display: none;
    }
}

@media all and (max-width: 1096px) {
    #menu li:hover #show_3 {
        display: block;
    }

    #respon-3 {
        display: none;
    }
}

@media all and (max-width: 980px) {
    #header {
        display: none;
    }

    #menu {
        display: none;
    }

    #user {
        display: none;
    }
}

@media all and (max-width: 920px) {
    #template {
        width: 690px;
        margin: auto;
        margin-top: 30px;
    }

    .images-three {
        display: block;
    }
}

@media all and (max-width: 920px) {
    #text_footer {
        display: none;
    }
}

@media all and (max-width: 920px) {

    #search {
        /*width: 50%;*/
        margin-left: calc(50% - 222px);
        padding: 0;
        border: 0;
        margin-top: 60px;
    }

    #content {
        padding-top: 76px;
        text-align: center;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
    }
}

@media all and (max-width: 700px) {
    #template {
        width: 460px;
        margin: auto;
        margin-top: 30px;
    }

    .images-three {
        display: none;
    }

    #template img {
        position: relative;
        padding: 8px;
        width: 210px;
        height: 210px;
    }

    #top_banner {
        height: 430px;
        background-image: url("../images/background_1.jpg");
        opacity: 1;
    }
}

@media all and (max-width: 550px) {
    #search {
        margin-left: calc(50% - 172px);
        padding: 0;
        border: 0;
        margin-top: 60px;
    }
}

@media all and (max-width: 990px){
    #logo-footer {
        display: none;
    }

    #footer {
        height: 100px;
    }

    #right, #copyright {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    #right ul {
        margin-bottom: 0;
        padding-left: 0;
    }

    #right li {
        margin-top: 0;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media all and (max-width: 480px) {

    #right li {
        margin-left: 5px;
        margin-right: 5px;
    }

    #search {
        /*width: 50%;*/
        margin-left: calc(50% - 122px);
        padding: 0;
        border: 0;
        margin-top: 60px;
    }

    .shakira-content {
        display: none;
    }

    #template {
        width: 310px;
        margin: 30px auto auto;
    }

    #template img {
        position: relative;
        padding: 10px;
        width: 140px;
        height: 140px;
    }

    #see_all {
        width: 150px;
        text-align: center;
        border: 1px;
        border-radius: 5px;
        margin: -16px auto 20px;
        padding-top: 14px;
        padding-bottom: 14px;
        background-color: #1d60c0;
    }

    .shakira-box {
        box-shadow: -2px 0 4px -14px gray;
        float: left;
        width: 150px;
        height: 217px;
        overflow: hidden;
        padding-top: 0;
        margin-top: -62px;
    }

    #popular_keyword {
        padding-bottom: 30px;
    }

    #popular_keyword ul {
        list-style-type: none;
        text-align: center;
    }

    #popular_keyword li {
        display: inline-block;
        padding-top: 20px;
    }

    #popular_keyword a {
        color: #333;
        text-decoration: none;
    }

    #popular_keyword a:hover {
        background-color: #333;
        color: white;
    }

    .icon_0 {
        width: 25px;
        height: 25px;
        margin-top: -165px;
        position: absolute;
    }

    .icon_0 img {
        width: 23px !important;
        height: 23px !important;
    }
}

@media all and (max-width: 420px) {
    #footer {
        width: 100%;
        height: 100px;
        background-color: white;
    }
}
