body {
    padding: 0;
    margin: 0;
    font-family: 'Myriad Pro', sans-serif;
}

#header {
    height: 70px;
    background-color: #ffffff;
    margin: 0;
}

#logo {
    margin-top: 12px;
    margin-left: 8%;
    float: left;
}

#menu {
    height: 37px;
    margin-left: 6%;
    margin-right: 6%;
    background-color: #efefef;
}

.menu-icon {
    float: left;
    padding-top: 11px;
}

.index {
    margin-left: 2.2%;
}

.menu-icon img {
    float: left;
}

.menu-icon img:hover {
    cursor: pointer;
}

#user {
    padding-top: 13px;
    padding-right: 8%;
    float: right;
}

.login {
    margin-top: 9px;
}

.login a {
    border-radius: 8px;
    background-color: #ff00ff;
    font-size: 18px;
    padding: 6px 12px;
    border: 1px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#user-signup {
    padding-top: 13px;
    padding-right: 1%;
    float: right;
}

#network {
    margin-top: 19px;
    float: right;
    margin-right: 6%;
}

#network a {
    margin-left: 19px;
}

.clear {
    clear: both;
}

/*Banner*/
#top_banner {
    height: 400px;
    background: url("../images/background_1.jpg") center;
    opacity: 1;
}

#content {
    padding-top: 76px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    font-weight: bold;
}

#popular_keyword ul {
    list-style-type: none;
    text-align: center;
}

#popular_keyword li {
    display: inline-block;
    padding-right: 0.7%;
    padding-top: 20px;
}

#popular_keyword a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
}

#popular_keyword a:hover {
    background-color: #3366FF;
    color: white;
}

body {
    background-color: #efefef;
}

#template {
    width: 1152px;
    margin: 30px auto auto;
}

#template img {
    position: relative;
    padding: 8px;
    width: 210px;
    height: 210px;
}

#template a {
    text-decoration: none;
}

#template p {
    position: absolute;
}

#footer {
    width: 100%;
    height: 101px;
    background-color: white;
}

.cl {
    clear: both;
}

#see_all {
    width: 280px;
    text-align: center;
    border: 1px;
    border-radius: 5px;
    margin: 54px auto;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #1d60c0;
    font-weight: bold;
}

#see_all_a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

#logo-footer img {
    float: left;
    margin-top: 35px;
    margin-left: 8%;
}

#right {
    margin-right: 8%;
    float: right;
}

#copyright {
    float: right;
    color: #a3a3a3;
    font-size: 14px;
}

#text-intro {
    float: left;
    margin-top: 32px;
    margin-left: 15px;
    font-weight: bold;
    color: #676767;
}

#right ul {
    list-style-type: none;
    text-align: center;
    margin-bottom: 5px;
}

#right a {
    text-decoration: none;
    color: black;
}

#right li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 32px;
}

/*sub-menu*/
#menu ul {
    margin: 0;
    list-style: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 0;
}

.menu__item--left {
    float: left;
    position: relative;
}

#more ul li {
    float: left;
    width: inherit;
}

#menu ul a {
    text-decoration: none;
    color: black;
    display: block;
    font-weight: bold;
    margin: 8px 20px;
    /*background:#000;*/
}

#menu img {
    display: inline;
    float: left;
}

#menu p {
    display: inline;
    float: left;
    margin-top: 3px;
    margin-left: 5px;
}

#menu li a:hover, #more li:hover a {
    color: blue;
    cursor: pointer;
}

#more {
    height: 37px;
    width: 90px;
    float: right;
}

/*Tam giac more*/

.triangle_down {
    height: 0;
    width: 0;
    border-top: 7px solid #c2c2c2;
    border-left: 5px solid transparent;
    border-right: 6px solid transparent;
    margin-left: 34px;
    padding-top: 3px;
}

#more:hover {
    border-radius: 5px;
    background-color: #3366FF;
    color: white;
    cursor: pointer;
}

#more:hover .more-text {
    color: white;
}

#more li {
    clear: both;
}

#tg-hover {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid white;
}

/*CSS Tạo Menu Cấp 2*/
#menu li ul {
    border-radius: 7px;
    padding: 0;
    position: absolute;
    display: none;
    width: 150px;
    background: white;
}

#menu li:hover ul {
    padding: 0;
    margin: 0;
    display: block;
}

/*responsive*/

#menu li:hover #show_1 {
    display: none;
}

#menu li:hover #show_2 {
    display: none;
}

#menu li:hover #show_3 {
    display: none;
}

#menu li:hover #show_4 {
    display: none;
}

#menu img {
    margin-top: 2px;
}

.images-three {
    display: none;
}

.images-hover {
    box-shadow: 30px 20px 10px -10px gray;
}

